/***********************************************************
* Styles Globals
************************************************************/


/***********************************************************
* Header
************************************************************/

/***********************************************************
* Main
************************************************************/
a{
    background-color: #3CB371;
}

/***********************************************************
* Footer
************************************************************/


/***********************************************************
* Form
************************************************************/
a.navbar-brand{
    color: white;
}

a.nav-link{
    color: white;
}

.navbar a:hover {
    color: #333;
}
.navbar-brand {
    display: inline-block;
    position: relative;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 30px;
}

.navbar-dark .navbar-brand:hover {
    color: #333;
}

.collapse.in > .nav-link {
    display: inline;
    float: right;
    font-size: 18px;
}
.collapse.in > a.nav-link {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}


@media (max-width:900px) {
    button.navbar-toggler {
        display: inline-block;
        position: relative;
        right: 0px;
        top: 0px;
    }
    button.navbar-toggler > .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        padding: 13px;
    }
    button.navbar-toggler:hover, button.navbar-toggler:focus {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .collapse.in {
        position: relative;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .collapse.in > a.nav-link {
        display: block;
        width: 100%;
    }
    button.navbar-toggler:not(:focus) ~ .collapse.in > a.nav-link{
        height: 0px;
    }
    button.navbar-toggler:focus ~ .collapse.in > a.nav-link {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

.p-2 button{
    margin: 3px;
}

