{% extends 'base.html.twig' %}

{% block main %}

    <h2> Modifier une sortie </h2>

            {{ form(tripForm) }}

    <a href="{{ path('trip_delete', {'id' : trip.id}) }}"><button>Supprimer la sortie</button></a>

    <a href="{{ path('trip_home') }}"><button>Annuler</button></a>

{% endblock %}