{% extends 'base.html.twig' %}

{% block main %}

    <h2>Ajouter un nouveau lieu</h2>

    <div class="form-group row">
    {{form_start(placeForm)}}
        {{form_row(placeForm.city)}}
        {{form_row(placeForm.name)}}
    {{form_end(placeForm)}}
    </div>


{% endblock %}