<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir avec l'ENI{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheet %}{% endblock %}

    </head>
    <body>
        <header>
            {% block header %}
                <img src="{{asset('img/logo-eni.png')}}" id="logo" alt="logo de l'Eni école"/>
                <h2>Sortir.com</h2>
            {% endblock %}
        </header>

        <nav>
            {% block navbar %}
                {%if app.user%}
                    <a href="" title="Villes">Villes</a> | <a href="" title="Campus">Campus</a> |
                    <a href="{{path('trip_list')}}" title="Aller à l'accueil">Accueil</a> | <a href="" title="Mon profil">Mon profil</a> |
                    <a href="{{path('logout')}}" title="Se déconnecter">Se déconnecter</a>
                {%endif%}
            {% endblock %}
        </nav>

        {% block main %}{% endblock %}

        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </body>

</html>
