{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        La requête de la page
        <a href="{{ path('trip_home') }}">Retrouner à la page d'accueil</a>.
    </p>
{% endblock %}